In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
!ls

sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [ ]:
txns_df = spark.read\
               .option("header",True)\
               .csv("/content/txns_with_header_alter.csv")

In [6]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DecimalType,DateType,TimestampType

In [7]:
txns_schema=StructType([StructField("txn_id",IntegerType()),
                       StructField("txn_dt",DateType()),
                       StructField("cid",IntegerType()),
                       StructField("amt",DecimalType(10,3)),
                       StructField("prod_cat",StringType()),
                       StructField("prod",StringType()),
                       StructField("city",StringType()),
                       StructField("state",StringType()),
                       StructField("mode",StringType())           ])

In [12]:
txns_df = spark.read\
               .option("header",True)\
               .schema(txns_schema)\
               .option("dateFormat","MM-dd-yyyy")\
               .option("mode","PERMISSIVE")\
               .csv("/content/txns_with_header_alter.csv")

In [13]:
txns_df.show()

+------+----------+-------+-------+--------------------+--------------------+--------------+--------------+------+
|txn_id|    txn_dt|    cid|    amt|            prod_cat|                prod|          city|         state|  mode|
+------+----------+-------+-------+--------------------+--------------------+--------------+--------------+------+
|     0|2011-06-26|4007024|   null|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|     1|2011-05-26|4006742|198.440|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|     2|2011-06-01|4009775|  5.580|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|     3|2011-06-05|4002199|198.190|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|     4|2011-12-17|4002613| 98.810|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|     5|2011-02-14|4007591|193.630|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|     6|2011-10-28|4002190| 27.890|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|     7|2011-07-14|4002964| 96.010|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|     8|2011-01-17|4007361| 10.440|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|     9|2011-05-17|4004798|152.460|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|    10|2011-05-29|4004646|180.280|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|    11|2011-06-18|4008071|121.390|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|    12|2011-02-08|4002473| 41.520|        Indoor Games|             Bowling| San Francisco|    California|credit|
|    13|2011-03-13|4003268|107.800|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|    14|2011-02-25|4004613| 36.810|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|    15|2011-10-20|4003179|137.640|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|    16|2011-05-28|4009135| 35.560|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|    17|2011-10-18|4006679| 75.550|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|    18|2011-11-18|4002444| 88.650|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|    19|2011-08-28|4008871| 51.810|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+------+----------+-------+-------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [18]:
txns_df2 = spark.read\
               .option("header",True)\
               .schema(txns_schema)\
               .option("dateFormat","MM-dd-yyyy")\
               .option("mode","DROPMALFORMED")\
               .csv("/content/txns_with_header_alter.csv")

In [19]:
txns_df2.show()

+------+----------+-------+-------+--------------------+--------------------+--------------+--------------+------+
|txn_id|    txn_dt|    cid|    amt|            prod_cat|                prod|          city|         state|  mode|
+------+----------+-------+-------+--------------------+--------------------+--------------+--------------+------+
|     1|2011-05-26|4006742|198.440|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|     2|2011-06-01|4009775|  5.580|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|     3|2011-06-05|4002199|198.190|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|     4|2011-12-17|4002613| 98.810|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|     5|2011-02-14|4007591|193.630|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|     6|2011-10-28|4002190| 27.890|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|     7|2011-07-14|4002964| 96.010|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|     8|2011-01-17|4007361| 10.440|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|     9|2011-05-17|4004798|152.460|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|    10|2011-05-29|4004646|180.280|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|    11|2011-06-18|4008071|121.390|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|    12|2011-02-08|4002473| 41.520|        Indoor Games|             Bowling| San Francisco|    California|credit|
|    13|2011-03-13|4003268|107.800|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|    14|2011-02-25|4004613| 36.810|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|    15|2011-10-20|4003179|137.640|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|    16|2011-05-28|4009135| 35.560|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|    17|2011-10-18|4006679| 75.550|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|    18|2011-11-18|4002444| 88.650|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|    19|2011-08-28|4008871| 51.810|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
|    20|2011-06-29|4001364| 41.550|  Exercise & Fitness| Weightlifting Belts|   New Orleans|     Louisiana|credit|
+------+----------+-------+-------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [20]:
txns_df3 = spark.read\
               .option("header",True)\
               .schema(txns_schema)\
               .option("dateFormat","MM-dd-yyyy")\
               .option("mode","FAILFAST")\
               .csv("/content/txns_with_header_alter.csv")

In [21]:
txns_df3.show()

Py4JJavaError: ignored