In [67]:
!pip install py4j

Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
!ls

sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [4]:
import findspark
findspark.init()
from pyspark import SparkContext

In [5]:
sc=SparkContext(appName="mysparkapp",master="local[*]").getOrCreate()

In [6]:
sc

In [8]:
rdd1=sc.textFile("/content/custs_without_header.csv")
rdd1.first()

'4000001,Kristina,Chung,55,Pilot'

In [9]:
rdd2=rdd1.map(lambda x:x.split(","))
rdd2.first()

['4000001', 'Kristina', 'Chung', '55', 'Pilot']

In [10]:
rdd3=rdd2.filter(lambda x:(int(x[3])>40))
#cast the string type into integer type and checks the value

In [11]:
rdd3.take(5)
#takes first 5 elements

[['4000001', 'Kristina', 'Chung', '55', 'Pilot'],
 ['4000002', 'Paige', 'Chen', '74', 'Teacher'],
 ['4000004', 'Gretchen', 'Hill', '66', 'Computer hardware engineer'],
 ['4000005', 'Karen', 'Puckett', '74', 'Lawyer'],
 ['4000006', 'Patrick', 'Song', '42', 'Veterinarian']]

In [12]:
#2.get all the records where desig is missing
rdd1.first()
#desig is 4th value in the list

'4000001,Kristina,Chung,55,Pilot'

In [13]:
#if you want remove header
#header = rdd.first()
#rdd = rdd.filter(lambda row: row != header)

In [14]:
rdd2=rdd1.map(lambda x:x.split(","))
#it splits record type into indudival strings
rdd2.first()

['4000001', 'Kristina', 'Chung', '55', 'Pilot']

In [15]:
rdd3=rdd2.filter(lambda x:(x[4]==""))
#empty string

In [16]:
rdd3.count()
#gives the count of empty values of desig

83

In [17]:
rdd3.take(5)
#shows up values of first 5 empty desig

[['4000014', 'Beth', 'Woodard', '65', ''],
 ['4000046', 'Louis', 'Rosenthal', '31', ''],
 ['4000257', 'Monica', 'Dodson', '58', ''],
 ['4000327', 'Heather', 'Dawson', '43', ''],
 ['4000411', 'Joanna', 'Hoover', '50', '']]

In [18]:
#3.get all records where age >40 and desig is pilot
rdd1.first()

'4000001,Kristina,Chung,55,Pilot'

In [19]:
rdd2.first()
#shows the split records into strings

['4000001', 'Kristina', 'Chung', '55', 'Pilot']

In [20]:
rdd5=rdd2.filter(lambda x:((int(x[3])>40) & (x[4]=='Pilot')))
#this filters age >40 and desig is pilot

In [21]:
rdd5.take(5)
#this shows up first 5 records

[['4000001', 'Kristina', 'Chung', '55', 'Pilot'],
 ['4000007', 'Elsie', 'Hamilton', '43', 'Pilot'],
 ['4000229', 'Faye', 'Norman', '64', 'Pilot'],
 ['4000251', 'Jeremy', 'House', '61', 'Pilot'],
 ['4000271', 'Alice', 'Nance', '59', 'Pilot']]

In [91]:
count = rdd5.filter(lambda x:(((int(x[3])>40)) & (x[4]=='Pilot'))).count()

Py4JJavaError: ignored

In [22]:
#4.get all records where f_name starts with s
rdd1.first()

'4000001,Kristina,Chung,55,Pilot'

In [23]:
rdd2.first()
#shows the records converted into string format

['4000001', 'Kristina', 'Chung', '55', 'Pilot']

In [24]:
rdd6 = rdd2.filter(lambda x:(x[1][0]=="S"))
#the first character starts with the s

In [25]:
rdd6.take(5)
#starts with the first name with S

[['4000003', 'Sherri', 'Melton', '34', 'Firefighter'],
 ['4000012', 'Sandy', 'Raynor', '26', 'Writer'],
 ['4000030', 'Stephanie', 'Hawkins', '50', 'Human resources assistant'],
 ['4000035', 'Shelley', 'Weeks', '25', 'Reporter'],
 ['4000052', 'Shirley', 'Merritt', '21', 'Reporter']]

In [26]:
rdd6.count()
#gives the total record count

655

In [27]:
#5.GET ALL RECORDS WHOSE DESIG IS IN (PILOT,TEACHER,LAWYER)
rdd7=rdd2.filter(lambda x:x[4] in ('Pilot','Teacher','Lawyer'))

In [28]:
rdd7.take(5)
#shows up first 5 records

[['4000001', 'Kristina', 'Chung', '55', 'Pilot'],
 ['4000002', 'Paige', 'Chen', '74', 'Teacher'],
 ['4000005', 'Karen', 'Puckett', '74', 'Lawyer'],
 ['4000007', 'Elsie', 'Hamilton', '43', 'Pilot'],
 ['4000026', 'Marian', 'Solomon', '27', 'Lawyer']]

In [29]:
rdd7.count()
#gives the total records count

599

In [30]:
rdd1.getNumPartitions()
# to get number of partitions by default present

2