In [ ]:
import os

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
!pip install pyspark==3.1.1

Collecting pyspark==3.1.1
  Downloading pyspark-3.1.1.tar.gz (212.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.3/212.3 MB 5.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9 (from pyspark==3.1.1)
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 21.0 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767582 sha256=75ead16f3b2735642ffce6d074de6a9c0cf998dac8bca541f099a80796776cf0
  Stored in directory: /root/.cache/pip/wheels/a0/3f/72/8efd988f9ae041f051c75e6834cd92dd6d13a726e206e8b6f3
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
from pyspark import SparkConf

In [ ]:
from pyspark.sql.functions import col

In [ ]:
if __name__=="__main__":
  spark = SparkSession.builder \
      .appName("myapplication") \
      .master("local[*]") \
      .getOrCreate()

In [ ]:
df= spark.read.option("header",True).option("inferSchema",True).csv("/content/custs_with_header.csv")

In [ ]:
df.printSchema()

root
 |-- cid: integer (nullable = true)
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- desig: string (nullable = true)

In [ ]:
df.show()

+-------+--------+----------+---+--------------------+
|    cid|   fname|     lname|age|               desig|
+-------+--------+----------+---+--------------------+
|4000001|Kristina|     Chung| 55|               Pilot|
|4000002|   Paige|      Chen| 74|             Teacher|
|4000003|  Sherri|    Melton| 34|         Firefighter|
|4000004|Gretchen|      Hill| 66|Computer hardware...|
|4000005|   Karen|   Puckett| 74|              Lawyer|
|4000006| Patrick|      Song| 42|        Veterinarian|
|4000007|   Elsie|  Hamilton| 43|               Pilot|
|4000008|   Hazel|    Bender| 63|           Carpenter|
|4000009| Malcolm|    Wagner| 39|              Artist|
|4000010| Dolores|McLaughlin| 60|              Writer|
|4000011| Francis|  McNamara| 47|           Therapist|
|4000012|   Sandy|    Raynor| 26|              Writer|
|4000013|  Marion|      Moon| 41|           Carpenter|
|4000014|    Beth|   Woodard| 65|                null|
|4000015|   Julia|     Desai| 49|            Musician|
|4000016|  Jerome|   Wallace| 52|          Pharmacist|
|4000017|    Neal|  Lawrence| 72|Computer support ...|
|4000018|    Jean|   Griffin| 45|    Childcare worker|
|4000019|Kristine| Dougherty| 63|   Financial analyst|
|4000020| Crystal|    Powers| 67|Engineering techn...|
+-------+--------+----------+---+--------------------+
only showing top 20 rows

In [ ]:
df.select(col("lname"),col("fname")).show()

+----------+--------+
|     lname|   fname|
+----------+--------+
|     Chung|Kristina|
|      Chen|   Paige|
|    Melton|  Sherri|
|      Hill|Gretchen|
|   Puckett|   Karen|
|      Song| Patrick|
|  Hamilton|   Elsie|
|    Bender|   Hazel|
|    Wagner| Malcolm|
|McLaughlin| Dolores|
|  McNamara| Francis|
|    Raynor|   Sandy|
|      Moon|  Marion|
|   Woodard|    Beth|
|     Desai|   Julia|
|   Wallace|  Jerome|
|  Lawrence|    Neal|
|   Griffin|    Jean|
| Dougherty|Kristine|
|    Powers| Crystal|
+----------+--------+
only showing top 20 rows

In [ ]:
df.select("lname","fname").show()

+----------+--------+
|     lname|   fname|
+----------+--------+
|     Chung|Kristina|
|      Chen|   Paige|
|    Melton|  Sherri|
|      Hill|Gretchen|
|   Puckett|   Karen|
|      Song| Patrick|
|  Hamilton|   Elsie|
|    Bender|   Hazel|
|    Wagner| Malcolm|
|McLaughlin| Dolores|
|  McNamara| Francis|
|    Raynor|   Sandy|
|      Moon|  Marion|
|   Woodard|    Beth|
|     Desai|   Julia|
|   Wallace|  Jerome|
|  Lawrence|    Neal|
|   Griffin|    Jean|
| Dougherty|Kristine|
|    Powers| Crystal|
+----------+--------+
only showing top 20 rows

In [ ]:
df.where(col("fname").startswith('S')).show()

+-------+---------+-------+---+--------------------+
|    cid|    fname|  lname|age|               desig|
+-------+---------+-------+---+--------------------+
|4000003|   Sherri| Melton| 34|         Firefighter|
|4000012|    Sandy| Raynor| 26|              Writer|
|4000030|Stephanie|Hawkins| 50|Human resources a...|
|4000035|  Shelley|  Weeks| 25|            Reporter|
|4000052|  Shirley|Merritt| 21|            Reporter|
|4000058|    Scott|  Hoyle| 40|              Doctor|
|4000077| Samantha| Hardin| 27|              Doctor|
|4000078|     Sara|  Lucas| 44|        Loan officer|
|4000079|    Stacy|  Eason| 31|            Musician|
|4000087|    Steve| Graves| 73|               Nurse|
|4000089|   Sherri| Sutton| 75|       Social worker|
|4000092|    Stacy|  Olsen| 25|        Veterinarian|
|4000101|    Scott| Golden| 27|             Teacher|
|4000108|    Shawn| Boykin| 34|        Photographer|
|4000120|     Sara|Perkins| 67|               Actor|
|4000133| Samantha|  Floyd| 72|    Childcare worker|
|4000140|   Sidney|   Lane| 54|        Statistician|
|4000142|   Sandra| Heller| 51|        Photographer|
|4000171|  Stephen|  Finch| 30|               Coach|
|4000184|    Sarah|    Fox| 73|        Psychologist|
+-------+---------+-------+---+--------------------+
only showing top 20 rows

In [ ]:
df.where(col("desig").isin('Teacher','Pilot','Lawyer')).show()

+-------+---------+---------+---+-------+
|    cid|    fname|    lname|age|  desig|
+-------+---------+---------+---+-------+
|4000001| Kristina|    Chung| 55|  Pilot|
|4000002|    Paige|     Chen| 74|Teacher|
|4000005|    Karen|  Puckett| 74| Lawyer|
|4000007|    Elsie| Hamilton| 43|  Pilot|
|4000026|   Marian|  Solomon| 27| Lawyer|
|4000033|      Tim|    Watts| 58| Lawyer|
|4000063|  Melinda|  Proctor| 27|Teacher|
|4000101|    Scott|   Golden| 27|Teacher|
|4000109|  Vincent|   Sumner| 31| Lawyer|
|4000130|     Toni|    Glass| 46| Lawyer|
|4000167|     Lynn|Robertson| 45| Lawyer|
|4000195|   Claire|  Pickett| 59| Lawyer|
|4000229|     Faye|   Norman| 64|  Pilot|
|4000230|    Kathy|    Burch| 28|  Pilot|
|4000251|   Jeremy|    House| 61|  Pilot|
|4000271|    Alice|    Nance| 59|  Pilot|
|4000322|Geraldine|   Jensen| 50|  Pilot|
|4000336|   Steven|  Ballard| 62|  Pilot|
|4000346|    Diana|    Crane| 26| Lawyer|
|4000352|   Ernest|  Stanton| 51| Lawyer|
+-------+---------+---------+---+-------+
only showing top 20 rows

In [ ]:
df.where((col("age")>50) & (col("desig")=='Pilot')).show()

+-------+----------+--------+---+-----+
|    cid|     fname|   lname|age|desig|
+-------+----------+--------+---+-----+
|4000001|  Kristina|   Chung| 55|Pilot|
|4000229|      Faye|  Norman| 64|Pilot|
|4000251|    Jeremy|   House| 61|Pilot|
|4000271|     Alice|   Nance| 59|Pilot|
|4000336|    Steven| Ballard| 62|Pilot|
|4000392|      Emma|   Olson| 74|Pilot|
|4000403|       Leo|Lassiter| 65|Pilot|
|4000423|      Alan|  O'Neal| 59|Pilot|
|4000562|    Jordan|   Wrenn| 61|Pilot|
|4000601|     Allan|  Nguyen| 51|Pilot|
|4000893|      Gene|    Love| 59|Pilot|
|4000912|     Maria|  Reilly| 64|Pilot|
|4000958|     Danny|  Bowers| 72|Pilot|
|4001039|   Dorothy|   Stone| 52|Pilot|
|4001092|Jacqueline|Friedman| 55|Pilot|
|4001250|  Nicholas| Leonard| 55|Pilot|
|4001424|     Jesse|   Eaton| 58|Pilot|
|4001428|   Deborah|   Britt| 64|Pilot|
|4001489|   Gregory|Saunders| 63|Pilot|
|4001494|     Jesse|  Peters| 56|Pilot|
+-------+----------+--------+---+-----+
only showing top 20 rows

In [ ]:
df.where(col("age").between(40,50)).show()

+-------+---------+---------+---+--------------------+
|    cid|    fname|    lname|age|               desig|
+-------+---------+---------+---+--------------------+
|4000006|  Patrick|     Song| 42|        Veterinarian|
|4000007|    Elsie| Hamilton| 43|               Pilot|
|4000011|  Francis| McNamara| 47|           Therapist|
|4000013|   Marion|     Moon| 41|           Carpenter|
|4000015|    Julia|    Desai| 49|            Musician|
|4000018|     Jean|  Griffin| 45|    Childcare worker|
|4000023|   Wesley|   Teague| 42|           Carpenter|
|4000025|   Claire|Gallagher| 42|            Musician|
|4000028|   Dwight|   Monroe| 45|           Economist|
|4000029|    Wayne| Connolly| 40|   Real estate agent|
|4000030|Stephanie|  Hawkins| 50|Human resources a...|
|4000042|Katherine|   Bender| 44|           Physicist|
|4000045|     Lois|   Joseph| 44|            Musician|
|4000047|Christina|   Bowden| 47|Computer software...|
|4000058|    Scott|    Hoyle| 40|              Doctor|
|4000059|      Pat|    Allen| 45|           Secretary|
|4000060| Michelle|     Rich| 44|              Artist|
|4000069|  Melanie|   Hewitt| 47|   Real estate agent|
|4000072| Caroline|  O'Brien| 44|Computer support ...|
|4000078|     Sara|    Lucas| 44|        Loan officer|
+-------+---------+---------+---+--------------------+
only showing top 20 rows

In [ ]:
df.where(col("desig").isNull()).count()

83

In [ ]:
df.where(col("desig").isNull()).show()

+-------+-------+---------+---+-----+
|    cid|  fname|    lname|age|desig|
+-------+-------+---------+---+-----+
|4000014|   Beth|  Woodard| 65| null|
|4000046|  Louis|Rosenthal| 31| null|
|4000257| Monica|   Dodson| 58| null|
|4000327|Heather|   Dawson| 43| null|
|4000411| Joanna|   Hoover| 50| null|
|4000463|  Wayne|   Weiner| 70| null|
|4000494|Stephen|   Waller| 75| null|
|4000679|Herbert| Jernigan| 59| null|
|4000695|  Chris| Anderson| 52| null|
|4000890| Hannah|    Casey| 30| null|
|4000944|   Mary|  Boyette| 59| null|
|4001066|    Ron|   Brandt| 65| null|
|4001359|  Craig| McNamara| 31| null|
|4001400|Matthew|  Beasley| 39| null|
|4001478| Sheryl|     Lamb| 53| null|
|4001505|Raymond|    Roach| 30| null|
|4001550|  Barry|    Sykes| 34| null|
|4001561| Arlene|     Gray| 51| null|
|4001675| Wesley|   Graves| 33| null|
|4001952|  Renee|      Day| 46| null|
+-------+-------+---------+---+-----+
only showing top 20 rows