In [1]:
import os

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [4]:
!pip install pyspark==3.1.1

Collecting pyspark==3.1.1
  Downloading pyspark-3.1.1.tar.gz (212.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.3/212.3 MB 5.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9 (from pyspark==3.1.1)
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 22.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767582 sha256=bf9fd6e1f219d5d7531f58afe7844ec20a9bfafb3b807a51db982c43cb7eb112
  Stored in directory: /root/.cache/pip/wheels/a0/3f/72/8efd988f9ae041f051c75e6834cd92dd6d13a726e206e8b6f3
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [5]:
import pyspark

In [10]:
import findspark

In [11]:
findspark.init()

In [12]:
from pyspark.sql import SparkSession

In [13]:
if __name__=="__main__":
  spark = SparkSession.builder \
      .appName("myapplication") \
      .master("local[*]") \
      .getOrCreate()

In [21]:
spark

In [17]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DecimalType,FloatType,DateType

In [19]:

cust_schema=StructType([StructField("cid",IntegerType()),
                        StructField("fname",StringType()),
                        StructField("lname",StringType()),
                        StructField("age",IntegerType()),
                        StructField("desig",StringType())])

In [24]:
df=spark.read.schema(cust_schema).option("header",True).csv("/content/custs_with_header.csv")

In [25]:
df.printSchema()

root
 |-- cid: integer (nullable = true)
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- desig: string (nullable = true)

In [26]:
df.show()

+-------+--------+----------+---+--------------------+
|    cid|   fname|     lname|age|               desig|
+-------+--------+----------+---+--------------------+
|4000001|Kristina|     Chung| 55|               Pilot|
|4000002|   Paige|      Chen| 74|             Teacher|
|4000003|  Sherri|    Melton| 34|         Firefighter|
|4000004|Gretchen|      Hill| 66|Computer hardware...|
|4000005|   Karen|   Puckett| 74|              Lawyer|
|4000006| Patrick|      Song| 42|        Veterinarian|
|4000007|   Elsie|  Hamilton| 43|               Pilot|
|4000008|   Hazel|    Bender| 63|           Carpenter|
|4000009| Malcolm|    Wagner| 39|              Artist|
|4000010| Dolores|McLaughlin| 60|              Writer|
|4000011| Francis|  McNamara| 47|           Therapist|
|4000012|   Sandy|    Raynor| 26|              Writer|
|4000013|  Marion|      Moon| 41|           Carpenter|
|4000014|    Beth|   Woodard| 65|                null|
|4000015|   Julia|     Desai| 49|            Musician|
|4000016|  Jerome|   Wallace| 52|          Pharmacist|
|4000017|    Neal|  Lawrence| 72|Computer support ...|
|4000018|    Jean|   Griffin| 45|    Childcare worker|
|4000019|Kristine| Dougherty| 63|   Financial analyst|
|4000020| Crystal|    Powers| 67|Engineering techn...|
+-------+--------+----------+---+--------------------+
only showing top 20 rows

In [27]:
tnx_schema=StructType([StructField("tnx_id",IntegerType()),
                       StructField("tnx_dt",DateType()),
                       StructField("cid",IntegerType()),
                       StructField("amount",DecimalType()),
                       StructField("prod_cat",StringType()),
                       StructField("prod",StringType()),
                       StructField("city",StringType()),
                       StructField("state",StringType()),
                       StructField("mode",StringType())])

In [48]:
#06-26-2011
df2=spark.read.schema(tnx_schema).option("header",True).option("dateFormat",'MM-dd-yyyy').csv("/content/txns_with_header.csv")

In [49]:
df2.printSchema()

root
 |-- tnx_id: integer (nullable = true)
 |-- tnx_dt: date (nullable = true)
 |-- cid: integer (nullable = true)
 |-- amount: decimal(10,0) (nullable = true)
 |-- prod_cat: string (nullable = true)
 |-- prod: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)

In [50]:
df2.show()

+------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|tnx_id|    tnx_dt|    cid|amount|            prod_cat|                prod|          city|         state|  mode|
+------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|     0|2011-06-26|4007024|    40|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|     1|2011-05-26|4006742|   198|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|     2|2011-06-01|4009775|     6|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|     3|2011-06-05|4002199|   198|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|     4|2011-12-17|4002613|    99|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|     5|2011-02-14|4007591|   194|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|     6|2011-10-28|4002190|    28|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|     7|2011-07-14|4002964|    96|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|     8|2011-01-17|4007361|    10|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|     9|2011-05-17|4004798|   152|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|    10|2011-05-29|4004646|   180|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|    11|2011-06-18|4008071|   121|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|    12|2011-02-08|4002473|    42|        Indoor Games|             Bowling| San Francisco|    California|credit|
|    13|2011-03-13|4003268|   108|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|    14|2011-02-25|4004613|    37|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|    15|2011-10-20|4003179|   138|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|    16|2011-05-28|4009135|    36|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|    17|2011-10-18|4006679|    76|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|    18|2011-11-18|4002444|    89|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|    19|2011-08-28|4008871|    52|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows