#simple Aggregations df

In [2]:
import os

In [3]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [4]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [5]:
!pip install pyspark==3.1.1

Collecting pyspark==3.1.1
  Downloading pyspark-3.1.1.tar.gz (212.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.3/212.3 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9 (from pyspark==3.1.1)
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 21.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767582 sha256=329b35e098021b1b973b357317daf719bf75c7d4f601af5515a54f04c42da55b
  Stored in directory: /root/.cache/pip/wheels/a0/3f/72/8efd988f9ae041f051c75e6834cd92dd6d13a726e206e8b6f3
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [6]:
import pyspark

In [7]:
import findspark

In [8]:
findspark .init()

In [9]:
from pyspark.sql import SparkSession

In [10]:
if __name__=="__main__":
  spark = SparkSession.builder \
      .appName("myapplication") \
      .master("local[*]") \
      .getOrCreate()

In [11]:
spark

In [12]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DecimalType,DateType,TimestampType

In [13]:
cust_schema=StructType([StructField("cid",IntegerType()),
                        StructField("fname",StringType()),
                        StructField("lname",StringType()),
                        StructField("age",IntegerType()),
                        StructField("desig",StringType())])

In [14]:
cust_df=spark.read\
            .option("header","true")\
            .schema(cust_schema)\
            .csv("/content/custs_with_header.csv")

In [15]:
cust_df.printSchema()

root
 |-- cid: integer (nullable = true)
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- desig: string (nullable = true)

In [16]:
from pyspark.sql.functions import sum,avg,min,max,count,col,countDistinct,round

In [17]:
cust_df.select(sum("age"),round(avg("age"),2),min("age"),max("age"),count("age"),countDistinct(col("desig"))).show()

+--------+------------------+--------+--------+----------+---------------------+
|sum(age)|round(avg(age), 2)|min(age)|max(age)|count(age)|count(DISTINCT desig)|
+--------+------------------+--------+--------+----------+---------------------+
|  485632|             48.57|      21|      75|      9999|                   50|
+--------+------------------+--------+--------+----------+---------------------+

In [18]:
from pyspark.sql import functions as f

In [19]:
cust_df.select(f.sum("age"),f.round(f.avg("age"),2),f.min("age"),f.max("age"),f.count("age"),f.countDistinct("age")).show()

+--------+------------------+--------+--------+----------+-------------------+
|sum(age)|round(avg(age), 2)|min(age)|max(age)|count(age)|count(DISTINCT age)|
+--------+------------------+--------+--------+----------+-------------------+
|  485632|             48.57|      21|      75|      9999|                 55|
+--------+------------------+--------+--------+----------+-------------------+

Multiple aggregations

In [20]:
tnx_schema=StructType([StructField("tnx_id",IntegerType()),
                       StructField("tnx_dt",DateType()),
                       StructField("cid",IntegerType()),
                       StructField("amount",DecimalType(10,2)),
                       StructField("prod_cat",StringType()),
                       StructField("prod",StringType()),
                       StructField("city",StringType()),
                       StructField("state",StringType()),
                       StructField("mode",StringType())])

In [21]:
tnx_df=spark.read\
           .option("header",True)\
           .schema(tnx_schema)\
           .option("dateFormat","MM-dd-yyyy")\
           .csv("/content/txns_with_header.csv")

In [22]:
tnx_df.show(5)

+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|tnx_id|    tnx_dt|    cid|amount|          prod_cat|                prod|       city|     state|  mode|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|     0|2011-06-26|4007024| 40.33|Exercise & Fitness|Cardio Machine Ac...|Clarksville| Tennessee|credit|
|     1|2011-05-26|4006742|198.44|Exercise & Fitness|Weightlifting Gloves| Long Beach|California|credit|
|     2|2011-06-01|4009775|  5.58|Exercise & Fitness|Weightlifting Mac...|    Anaheim|California|credit|
|     3|2011-06-05|4002199|198.19|        Gymnastics|    Gymnastics Rings|  Milwaukee| Wisconsin|credit|
|     4|2011-12-17|4002613| 98.81|       Team Sports|        Field Hockey|Nashville  | Tennessee|credit|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
only showing top 5 rows

In [23]:
tnx_df.groupby('state').sum("amount").orderBy(sum("amount"),ascending=False).show(5)

+----------+-----------+
|     state|sum(amount)|
+----------+-----------+
|California|  702346.23|
|     Texas|  541267.24|
|   Florida|  274858.95|
|      Ohio|  188613.87|
|    Oregon|  187052.05|
+----------+-----------+
only showing top 5 rows

In [24]:
total_sale=f.round(f.sum("amount"),0).alias("total_sales")
tnx_df\
.groupby("state")\
.agg(
    total_sale,\
     round(f.avg("amount"),2).alias("average_sales"),\
     f.min("amount").alias("minimum_sales"),\
     f.max("amount").alias("maximum_sales"),\
     ).show()

+--------------------+-----------+-------------+-------------+-------------+
|               state|total_sales|average_sales|minimum_sales|maximum_sales|
+--------------------+-----------+-------------+-------------+-------------+
|                Utah|      92071|       104.51|         5.18|       199.85|
|              Hawaii|      42950|       101.54|         6.75|       199.82|
|           Minnesota|      92498|       103.47|         5.08|       199.98|
|                Ohio|     188614|       101.35|         5.22|       199.94|
|              Oregon|     187052|       102.44|         5.09|       199.83|
|               Texas|     541267|       101.38|         5.00|       199.91|
|        Pennsylvania|      90443|       102.78|         5.01|       198.97|
|         Connecticut|      91084|        99.98|         5.32|       199.93|
|            Nebraska|      91556|       101.96|         5.15|       199.63|
|              Nevada|      95418|       105.43|         5.08|       199.67|
|          Washington|     181509|       101.40|         5.20|       199.81|
|            Illinois|     134023|       100.17|         5.02|       199.91|
|            Oklahoma|      47668|       105.00|         5.60|       199.70|
|District of Columbia|      49720|       103.80|         5.15|       199.96|
|            Missouri|     132471|       100.97|         5.05|       199.93|
|             Georgia|      89437|       102.33|         5.02|       199.99|
|            Virginia|     144447|       104.98|         5.10|       199.70|
|            Michigan|      98197|       101.55|         5.34|       199.79|
|      North Carolina|      87372|       103.03|         5.15|       199.59|
|              Kansas|      92713|       101.44|         5.14|       199.85|
+--------------------+-----------+-------------+-------------+-------------+
only showing top 20 rows

In [32]:
total_sale=f.round(f.sum("amount"),0).alias("total_sales")
tnx_df\
.groupby("state","city")\
.agg(
    total_sale,\
     round(f.avg("amount"),2).alias("average_sales"),\
     f.min("amount").alias("minimum_sales"),\
     f.max("amount").alias("maximum_sales"),\
     ).orderBy("state","city",ascending=[True,True])\
     .show()

+----------+-------------+-----------+-------------+-------------+-------------+
|     state|         city|total_sales|average_sales|minimum_sales|maximum_sales|
+----------+-------------+-----------+-------------+-------------+-------------+
|   Alabama|   Birmingham|      20612|        96.32|         5.57|       199.39|
|   Alabama|   Huntsville|      46623|       105.72|         5.92|       199.21|
|   Alabama|   Montgomery|      48780|       102.26|         5.20|       199.94|
|   Arizona|      Gilbert|      40408|       101.02|         5.71|       200.00|
|   Arizona|      Phoenix|      45920|       102.27|         5.31|       199.58|
|   Arizona|   Scottsdale|      44963|       103.13|         5.01|       199.99|
|California|      Anaheim|      45263|       102.17|         5.06|       199.40|
|California|     Berkeley|      43734|       101.00|         6.05|       199.88|
|California|      Fremont|      47499|       103.71|         5.19|       199.88|
|California|       Irvine|      48039|       106.52|         5.51|       199.80|
|California|   Long Beach|      52687|       109.31|         5.24|       199.64|
|California|  Los Angeles|      45167|        98.62|         5.03|       199.67|
|California|      Oakland|      49765|       103.68|         5.16|       199.89|
|California|       Orange|      47215|       103.09|         5.23|       199.92|
|California|     Pasadena|      47061|       100.77|         5.66|       199.30|
|California|   Sacramento|      47731|       102.87|         5.80|       199.09|
|California|    San Diego|      43127|        99.37|         5.10|       199.86|
|California|San Francisco|      45341|       100.53|         5.38|       199.83|
|California|     San Jose|      47603|       104.16|         5.01|       199.37|
|California|    Santa Ana|      48209|       103.45|         5.32|       198.97|
+----------+-------------+-----------+-------------+-------------+-------------+
only showing top 20 rows

In [89]:
total_sale=f.round(f.sum("amount"),0).alias("total_sales")
tnx_df\
.groupby("state","city")\
.agg(
    total_sale,\
     round(f.avg("amount"),2).alias("average_sales"),\
     f.min("amount").alias("minimum_sales"),\
     f.max("amount").alias("maximum_sales"),\
     ).orderBy("state","total_sales",ascending=[True,False])\
     .show(100)

+--------------------+----------------+-----------+-------------+-------------+-------------+
|               state|            city|total_sales|average_sales|minimum_sales|maximum_sales|
+--------------------+----------------+-----------+-------------+-------------+-------------+
|             Alabama|      Montgomery|      48780|       102.26|         5.20|       199.94|
|             Alabama|      Huntsville|      46623|       105.72|         5.92|       199.21|
|             Alabama|      Birmingham|      20612|        96.32|         5.57|       199.39|
|             Arizona|         Phoenix|      45920|       102.27|         5.31|       199.58|
|             Arizona|      Scottsdale|      44963|       103.13|         5.01|       199.99|
|             Arizona|         Gilbert|      40408|       101.02|         5.71|       200.00|
|          California|      Long Beach|      52687|       109.31|         5.24|       199.64|
|          California|         Oakland|      49765|       103.68|         5.16|       199.89|
|          California|       Santa Ana|      48209|       103.45|         5.32|       198.97|
|          California|          Irvine|      48039|       106.52|         5.51|       199.80|
|          California|      Sacramento|      47731|       102.87|         5.80|       199.09|
|          California|        San Jose|      47603|       104.16|         5.01|       199.37|
|          California|         Fremont|      47499|       103.71|         5.19|       199.88|
|          California|          Orange|      47215|       103.09|         5.23|       199.92|
|          California|        Pasadena|      47061|       100.77|         5.66|       199.30|
|          California|   San Francisco|      45341|       100.53|         5.38|       199.83|
|          California|         Anaheim|      45263|       102.17|         5.06|       199.40|
|          California|     Los Angeles|      45167|        98.62|         5.03|       199.67|
|          California|       Sunnyvale|      43904|        99.78|         5.00|       199.52|
|          California|        Berkeley|      43734|       101.00|         6.05|       199.88|
|          California|       San Diego|      43127|        99.37|         5.10|       199.86|
|            Colorado|      Centennial|      49656|       104.76|         5.07|       199.61|
|            Colorado|Colorado Springs|      43838|        98.07|         6.84|       199.43|
|            Colorado|        Denver  |      43078|       103.06|         5.28|       199.75|
|            Colorado|     Westminster|      41728|       100.07|         5.70|       199.65|
|         Connecticut|        Stamford|      46080|       102.40|         5.32|       199.93|
|         Connecticut|        Hartford|      45004|        97.62|         5.82|       199.83|
|District of Columbia|      Washington|      49720|       103.80|         5.15|       199.96|
|             Florida|         Orlando|      46645|       103.66|         5.18|       199.89|
|             Florida|           Tampa|      46482|       104.93|         5.67|       198.90|
|             Florida|   Coral Springs|      46035|       103.45|         5.24|       198.98|
|             Florida|  St. Petersburg|      45927|       101.16|         5.25|       199.91|
|             Florida|           Miami|      45817|       105.57|         5.32|       199.48|
|             Florida|   Jacksonville |      43952|       100.12|         5.26|       199.90|
|             Georgia|        Columbus|      45791|       100.20|         5.02|       199.99|
|             Georgia|         Atlanta|      43646|       104.67|         5.10|       199.91|
|              Hawaii|      Honolulu  |      42950|       101.54|         6.75|       199.82|
|               Idaho|           Boise|      45031|        98.97|         6.06|       199.99|
|            Illinois|         Chicago|      46557|       102.55|         5.27|       199.91|
|            Illinois|        Rockford|      44292|        98.87|         5.02|       199.55|
|            Illinois|     Springfield|      43174|        99.02|         5.27|       199.81|
|             Indiana|   Indianapolis |      44616|       100.71|         5.14|       199.19|
|                Iowa|      Des Moines|      46808|       103.10|         5.25|       199.26|
|              Kansas|     Kansas City|      49158|       100.32|         5.75|       199.85|
|              Kansas|   Overland Park|      43556|       102.73|         5.14|       199.68|
|            Kentucky|      Louisville|      47563|       106.64|         5.39|       199.70|
|            Kentucky|       Lexington|      42718|       101.47|         5.37|       199.77|
|           Louisiana|     New Orleans|      48836|       103.47|         5.01|       199.62|
|            Maryland|       Baltimore|      44927|       100.51|         5.83|       199.81|
|       Massachusetts|          Boston|      50532|       107.98|         5.63|       199.24|
|       Massachusetts|       Cambridge|      47809|       103.26|         5.29|       199.42|
|       Massachusetts|          Lowell|      45403|       102.26|         5.07|       198.83|
|            Michigan|         Detroit|      50878|       103.41|         5.38|       199.54|
|            Michigan|           Flint|      47319|        99.62|         5.34|       199.79|
|           Minnesota|      Saint Paul|      48108|       103.68|         5.08|       199.74|
|           Minnesota|     Minneapolis|      44390|       103.23|         5.74|       199.98|
|         Mississippi|         Jackson|      47875|       101.21|         5.05|       199.22|
|            Missouri|        Columbia|      45506|        99.58|         5.28|       199.93|
|            Missouri|     Kansas City|      43593|       103.30|         5.05|       199.68|
|            Missouri|     St. Louis  |      43372|       100.17|         5.58|       197.40|
|            Nebraska|         Lincoln|      47142|       101.82|         5.15|       199.62|
|            Nebraska|           Omaha|      44414|       102.10|         5.46|       199.63|
|              Nevada|            Reno|      48957|       105.28|         5.14|       199.67|
|              Nevada|       Las Vegas|      46462|       105.59|         5.08|       199.06|
|          New Jersey|        Paterson|      47983|       106.63|         5.74|       199.88|
|          New Jersey|          Newark|      45387|       102.92|         5.17|       199.89|
|          New Jersey|     Jersey City|      43479|       100.65|         5.13|       199.49|
|            New York|         Buffalo|      50934|       100.46|         5.03|       199.59|
|            New York|        New York|      47822|       100.05|         5.44|       199.90|
|      North Carolina|       Charlotte|      44399|       103.02|         5.15|       199.59|
|      North Carolina|          Durham|      42973|       103.05|         6.60|       198.80|
|                Ohio|      Cincinnati|      52008|       106.36|         5.22|       199.20|
|                Ohio|       Cleveland|      46443|        99.03|         5.49|       199.44|
|                Ohio|          Dayton|      45368|        99.93|         5.32|       199.94|
|                Ohio|        Columbus|      44795|        99.77|         5.41|       199.74|
|            Oklahoma|   Oklahoma City|      47668|       105.00|         5.60|       199.70|
|              Oregon|         Gresham|      49034|       105.00|         5.09|       199.02|
|              Oregon|           Salem|      48284|       102.30|         6.03|       199.48|
|              Oregon|        Portland|      45258|        99.47|         5.18|       198.98|
|              Oregon|          Eugene|      44476|       102.95|         5.41|       199.83|
|        Pennsylvania|    Philadelphia|      45978|       101.27|         6.04|       198.97|
|        Pennsylvania|      Pittsburgh|      44465|       104.38|         5.01|       198.89|
|      South Carolina|        Columbia|      48347|       104.42|         5.29|       199.68|
|      South Carolina|      Charleston|      46599|       102.64|         7.04|       199.62|
|           Tennessee|     Clarksville|      46467|       100.58|         5.07|       199.70|
|           Tennessee|     Chattanooga|      44322|        96.56|         5.62|       198.91|
|           Tennessee|         Memphis|      44269|       102.71|         5.14|       199.89|
|           Tennessee|     Nashville  |      42628|        97.32|         5.22|       199.51|
|               Texas|        Pasadena|      48473|       102.70|         5.09|       199.37|
|               Texas|          Irving|      48291|       102.53|         5.09|       199.84|
|               Texas|         El Paso|      47139|       102.92|         5.05|       199.79|
|               Texas|        McKinney|      46841|       100.30|         5.16|       199.60|
|               Texas|         Midland|      45913|       101.35|         7.07|       199.65|
|               Texas|          Dallas|      45534|       102.09|         5.51|       198.88|
|               Texas|     San Antonio|      44540|       102.39|         5.06|       199.87|
|               Texas|          Denton|      44444|       101.47|         5.00|       199.91|
|               Texas|     Brownsville|      44387|        99.52|         5.16|       199.83|
|               Texas|           Plano|      42553|       102.78|         5.02|       199.86|
|               Texas|          Austin|      42415|       103.45|         5.24|       199.37|
|               Texas|         Houston|      40737|        94.96|         5.50|       199.43|
+--------------------+----------------+-----------+-------------+-------------+-------------+
only showing top 100 rows

In [91]:
total_sale=f.round(f.sum("amount"),0).alias("total_sales")
tnx_df\
.groupby("state","city")\
.agg(
    total_sale,\
     round(f.avg("amount"),2).alias("average_sales"),\
     f.min("amount").alias("minimum_sales"),\
     f.max("amount").alias("maximum_sales"),\
     ).orderBy("state","city",ascending=[True,True])\
     .where(col("state").isin('California','Arizona','Texas','Kentucky'))\
     .show()

+----------+-------------+-----------+-------------+-------------+-------------+
|     state|         city|total_sales|average_sales|minimum_sales|maximum_sales|
+----------+-------------+-----------+-------------+-------------+-------------+
|   Arizona|      Gilbert|      40408|       101.02|         5.71|       200.00|
|   Arizona|      Phoenix|      45920|       102.27|         5.31|       199.58|
|   Arizona|   Scottsdale|      44963|       103.13|         5.01|       199.99|
|California|      Anaheim|      45263|       102.17|         5.06|       199.40|
|California|     Berkeley|      43734|       101.00|         6.05|       199.88|
|California|      Fremont|      47499|       103.71|         5.19|       199.88|
|California|       Irvine|      48039|       106.52|         5.51|       199.80|
|California|   Long Beach|      52687|       109.31|         5.24|       199.64|
|California|  Los Angeles|      45167|        98.62|         5.03|       199.67|
|California|      Oakland|      49765|       103.68|         5.16|       199.89|
|California|       Orange|      47215|       103.09|         5.23|       199.92|
|California|     Pasadena|      47061|       100.77|         5.66|       199.30|
|California|   Sacramento|      47731|       102.87|         5.80|       199.09|
|California|    San Diego|      43127|        99.37|         5.10|       199.86|
|California|San Francisco|      45341|       100.53|         5.38|       199.83|
|California|     San Jose|      47603|       104.16|         5.01|       199.37|
|California|    Santa Ana|      48209|       103.45|         5.32|       198.97|
|California|    Sunnyvale|      43904|        99.78|         5.00|       199.52|
|  Kentucky|    Lexington|      42718|       101.47|         5.37|       199.77|
|  Kentucky|   Louisville|      47563|       106.64|         5.39|       199.70|
+----------+-------------+-----------+-------------+-------------+-------------+
only showing top 20 rows

##window functions usage in data frame

In [51]:
from pyspark.sql import Window
#For Window W is capital

In [48]:
total_sale_statewise_df=tnx_df.groupby("state","city")\
                             .agg(round(sum("amount"),0).alias("total_sales"))\
                             .orderBy("state","city",ascending=[True,True])

In [49]:
total_sale_statewise_df.show()

+----------+-------------+-----------+
|     state|         city|total_sales|
+----------+-------------+-----------+
|   Alabama|   Birmingham|      20612|
|   Alabama|   Huntsville|      46623|
|   Alabama|   Montgomery|      48780|
|   Arizona|      Gilbert|      40408|
|   Arizona|      Phoenix|      45920|
|   Arizona|   Scottsdale|      44963|
|California|      Anaheim|      45263|
|California|     Berkeley|      43734|
|California|      Fremont|      47499|
|California|       Irvine|      48039|
|California|   Long Beach|      52687|
|California|  Los Angeles|      45167|
|California|      Oakland|      49765|
|California|       Orange|      47215|
|California|     Pasadena|      47061|
|California|   Sacramento|      47731|
|California|    San Diego|      43127|
|California|San Francisco|      45341|
|California|     San Jose|      47603|
|California|    Santa Ana|      48209|
+----------+-------------+-----------+
only showing top 20 rows

In [53]:
window_for_running_total=Window.partitionBy("state")\
                               .orderBy("city")\
                               .rowsBetween(Window.unboundedPreceding,Window.currentRow)
#For Window W is capital and in rows between we dont use quotations

In [55]:
calculating_runningtotal_df=total_sale_statewise_df\
                            .withColumn("Running_total",sum("total_sales").over(window_for_running_total))\
                            .orderBy("state","city",ascending=[True,True])
#in over clause we donot use quotation

In [56]:
calculating_runningtotal_df.show(20)

+----------+-------------+-----------+-------------+
|     state|         city|total_sales|Running_total|
+----------+-------------+-----------+-------------+
|   Alabama|   Birmingham|      20612|        20612|
|   Alabama|   Huntsville|      46623|        67235|
|   Alabama|   Montgomery|      48780|       116015|
|   Arizona|      Gilbert|      40408|        40408|
|   Arizona|      Phoenix|      45920|        86328|
|   Arizona|   Scottsdale|      44963|       131291|
|California|      Anaheim|      45263|        45263|
|California|     Berkeley|      43734|        88997|
|California|      Fremont|      47499|       136496|
|California|       Irvine|      48039|       184535|
|California|   Long Beach|      52687|       237222|
|California|  Los Angeles|      45167|       282389|
|California|      Oakland|      49765|       332154|
|California|       Orange|      47215|       379369|
|California|     Pasadena|      47061|       426430|
|California|   Sacramento|      47731|       474161|
|California|    San Diego|      43127|       517288|
|California|San Francisco|      45341|       562629|
|California|     San Jose|      47603|       610232|
|California|    Santa Ana|      48209|       658441|
+----------+-------------+-----------+-------------+
only showing top 20 rows

In [61]:
calculating_runningtotal_df_avg=total_sale_statewise_df\
                            .withColumn("avg_Running_total",avg("total_sales").over(window_for_running_total))\
                            .orderBy("state","city",ascending=[True,True])
#in over clause we donot use quotation

In [62]:
calculating_runningtotal_df_avg.show()

+----------+-------------+-----------+-----------------+
|     state|         city|total_sales|avg_Running_total|
+----------+-------------+-----------+-----------------+
|   Alabama|   Birmingham|      20612|       20612.0000|
|   Alabama|   Huntsville|      46623|       33617.5000|
|   Alabama|   Montgomery|      48780|       38671.6667|
|   Arizona|      Gilbert|      40408|       40408.0000|
|   Arizona|      Phoenix|      45920|       43164.0000|
|   Arizona|   Scottsdale|      44963|       43763.6667|
|California|      Anaheim|      45263|       45263.0000|
|California|     Berkeley|      43734|       44498.5000|
|California|      Fremont|      47499|       45498.6667|
|California|       Irvine|      48039|       46133.7500|
|California|   Long Beach|      52687|       47444.4000|
|California|  Los Angeles|      45167|       47064.8333|
|California|      Oakland|      49765|       47450.5714|
|California|       Orange|      47215|       47421.1250|
|California|     Pasadena|      47061|       47381.1111|
|California|   Sacramento|      47731|       47416.1000|
|California|    San Diego|      43127|       47026.1818|
|California|San Francisco|      45341|       46885.7500|
|California|     San Jose|      47603|       46940.9231|
|California|    Santa Ana|      48209|       47031.5000|
+----------+-------------+-----------+-----------------+
only showing top 20 rows

In [63]:
tnx_df.show(5)

+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|tnx_id|    tnx_dt|    cid|amount|          prod_cat|                prod|       city|     state|  mode|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|     0|2011-06-26|4007024| 40.33|Exercise & Fitness|Cardio Machine Ac...|Clarksville| Tennessee|credit|
|     1|2011-05-26|4006742|198.44|Exercise & Fitness|Weightlifting Gloves| Long Beach|California|credit|
|     2|2011-06-01|4009775|  5.58|Exercise & Fitness|Weightlifting Mac...|    Anaheim|California|credit|
|     3|2011-06-05|4002199|198.19|        Gymnastics|    Gymnastics Rings|  Milwaukee| Wisconsin|credit|
|     4|2011-12-17|4002613| 98.81|       Team Sports|        Field Hockey|Nashville  | Tennessee|credit|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
only showing top 5 rows

In [82]:
totalsales_for_product_df=tnx_df.groupBy("prod_cat","prod")\
                                .agg(round(sum("amount"),0).alias("productsales"))\
                                .orderBy("prod_cat","prod",ascending=[True,True])

In [84]:
running_total_for_product=Window.partitionBy("prod_cat")\
                                .orderBy("prod")\
                                .rowsBetween(Window.unboundedPreceding,Window.currentRow)

In [85]:
runningtotal_for_productcategory_df=totalsales_for_product_df.withColumn("productcat_running_total",sum("productsales").over(running_total_for_product))\
                                                                         .orderBy("prod_cat","prod",ascending=[True,True])

In [86]:
runningtotal_for_productcategory_df.show()

+------------------+--------------------+------------+------------------------+
|          prod_cat|                prod|productsales|productcat_running_total|
+------------------+--------------------+------------+------------------------+
|        Air Sports|           Air Suits|       19372|                   19372|
|        Air Sports|        Hang Gliding|       38759|                   58131|
|        Air Sports|          Parachutes|       41186|                   99317|
|     Combat Sports|              Boxing|       44517|                   44517|
|     Combat Sports|             Fencing|       40604|                   85121|
|     Combat Sports|        Martial Arts|       39277|                  124398|
|     Combat Sports|           Wrestling|       40333|                  164731|
|           Dancing|         Ballet Bars|       42604|                   42604|
|Exercise & Fitness| Abdominal Equipment|       43304|                   43304|
|Exercise & Fitness|Cardio Machine Ac...|       46486|                   89790|
|Exercise & Fitness|     Cardio Machines|       40902|                  130692|
|Exercise & Fitness|      Exercise Balls|       45144|                  175836|
|Exercise & Fitness|      Exercise Bands|       37680|                  213516|
|Exercise & Fitness|        Foam Rollers|       42779|                  256295|
|Exercise & Fitness|    Free Weight Bars|       41916|                  298211|
|Exercise & Fitness|        Free Weights|       41967|                  340178|
|Exercise & Fitness|            Gym Mats|       39275|                  379453|
|Exercise & Fitness|          Jump Ropes|       40668|                  420121|
|Exercise & Fitness|      Medicine Balls|       42799|                  462920|
|Exercise & Fitness|         Stopwatches|       44444|                  507364|
+------------------+--------------------+------------+------------------------+
only showing top 20 rows

In [124]:
rankWindow_for_product=Window.partitionBy("prod_cat")\
                            .orderBy("productsales")

In [127]:
top_3_ranks_for_productcategory=totalsales_for_product_df.withColumn("Rank",f.rank()\
                                                                     .over(rankWindow_for_product))\
                                                                     .orderBy("prod_cat")
#order should be mentioned in this function by default descending is true

In [128]:
top_3_ranks_for_productcategory.where("Rank < 4").show()

+------------------+--------------------+------------+----+
|          prod_cat|                prod|productsales|Rank|
+------------------+--------------------+------------+----+
|        Air Sports|           Air Suits|       19372|   1|
|        Air Sports|        Hang Gliding|       38759|   2|
|        Air Sports|          Parachutes|       41186|   3|
|     Combat Sports|        Martial Arts|       39277|   1|
|     Combat Sports|           Wrestling|       40333|   2|
|     Combat Sports|             Fencing|       40604|   3|
|           Dancing|         Ballet Bars|       42604|   1|
|Exercise & Fitness|      Exercise Bands|       37680|   1|
|Exercise & Fitness|Weightlifting Gloves|       38439|   2|
|Exercise & Fitness|            Gym Mats|       39275|   3|
|             Games|          Dice Games|       40397|   2|
|             Games|          Card Games|       40839|   3|
|             Games|            Dominoes|       39585|   1|
|        Gymnastics|    Gymnastics Rings|       39872|   3|
|        Gymnastics|        Springboards|       37891|   1|
|        Gymnastics|       Pommel Horses|       38900|   2|
|      Indoor Games|           Billiards|       38615|   1|
|      Indoor Games|           Ping Pong|       39973|   2|
|      Indoor Games|             Bowling|       40053|   3|
|           Jumping|         Pogo Sticks|       40622|   2|
+------------------+--------------------+------------+----+
only showing top 20 rows