In [1]:
import os

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [4]:
!pip install pyspark==3.1.1

Collecting pyspark==3.1.1
  Downloading pyspark-3.1.1.tar.gz (212.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.3/212.3 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9 (from pyspark==3.1.1)
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 17.6 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767582 sha256=b73691cfa66e10d91f6db6f8221edc7b7c25956a0d0df6bffdc56e7b625f3482
  Stored in directory: /root/.cache/pip/wheels/a0/3f/72/8efd988f9ae041f051c75e6834cd92dd6d13a726e206e8b6f3
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [5]:
import pyspark

In [6]:
import findspark

In [7]:
findspark .init()

In [8]:
from pyspark.sql import SparkSession

In [9]:
if __name__=="__main__":
  spark = SparkSession.builder \
      .appName("myapplication") \
      .master("local[*]") \
      .getOrCreate()

In [10]:
spark

In [12]:
from pyspark.sql import SparkSession

In [13]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DecimalType,DateType,TimestampType

In [14]:
tnx_schema=StructType([StructField("tnx_id",IntegerType()),
                       StructField("tnx_dt",DateType()),
                       StructField("cid",IntegerType()),
                       StructField("amount",DecimalType(10,2)),
                       StructField("prod_cat",StringType()),
                       StructField("prod",StringType()),
                       StructField("city",StringType()),
                       StructField("state",StringType()),
                       StructField("mode",StringType())])

In [16]:
tnx_df=spark.read\
           .option("header",True)\
           .schema(tnx_schema)\
           .option("dateFormat","MM-dd-yyyy")\
           .csv("/content/txns_with_header.csv")

In [17]:
tnx_df.show(5)

+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|tnx_id|    tnx_dt|    cid|amount|          prod_cat|                prod|       city|     state|  mode|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|     0|2011-06-26|4007024| 40.33|Exercise & Fitness|Cardio Machine Ac...|Clarksville| Tennessee|credit|
|     1|2011-05-26|4006742|198.44|Exercise & Fitness|Weightlifting Gloves| Long Beach|California|credit|
|     2|2011-06-01|4009775|  5.58|Exercise & Fitness|Weightlifting Mac...|    Anaheim|California|credit|
|     3|2011-06-05|4002199|198.19|        Gymnastics|    Gymnastics Rings|  Milwaukee| Wisconsin|credit|
|     4|2011-12-17|4002613| 98.81|       Team Sports|        Field Hockey|Nashville  | Tennessee|credit|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
only showing top 5 rows

In [20]:
tnx_df.write\
      .mode("overwrite")\
      .format("json")\
      .save("/content/data_json")

In [26]:
tnx_df.write\
      .mode("overwrite")\
      .format("parquet")\
      .save("/content/data_parquet")

In [27]:
spark.read.load("/content/data_parquet").show()

+------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|tnx_id|    tnx_dt|    cid|amount|            prod_cat|                prod|          city|         state|  mode|
+------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
|     0|2011-06-26|4007024| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|
|     1|2011-05-26|4006742|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|
|     2|2011-06-01|4009775|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|
|     3|2011-06-05|4002199|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|
|     4|2011-12-17|4002613| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|
|     5|2011-02-14|4007591|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|
|     6|2011-10-28|4002190| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|
|     7|2011-07-14|4002964| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|
|     8|2011-01-17|4007361| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|
|     9|2011-05-17|4004798|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|
|    10|2011-05-29|4004646|180.28|  Outdoor Recreation|             Archery|          Reno|        Nevada|credit|
|    11|2011-06-18|4008071|121.39|Outdoor Play Equi...|          Swing Sets|      Columbus|          Ohio|credit|
|    12|2011-02-08|4002473| 41.52|        Indoor Games|             Bowling| San Francisco|    California|credit|
|    13|2011-03-13|4003268|107.80|         Team Sports|        Field Hockey|    Honolulu  |        Hawaii|credit|
|    14|2011-02-25|4004613| 36.81|          Gymnastics|     Vaulting Horses|   Los Angeles|    California|credit|
|    15|2011-10-20|4003179|137.64|       Combat Sports|             Fencing|    Honolulu  |        Hawaii|credit|
|    16|2011-05-28|4009135| 35.56|  Exercise & Fitness|    Free Weight Bars|      Columbia|South Carolina|credit|
|    17|2011-10-18|4006679| 75.55|        Water Sports|Scuba Diving & Sn...|         Omaha|      Nebraska|credit|
|    18|2011-11-18|4002444| 88.65|         Team Sports|            Baseball|Salt Lake City|          Utah|credit|
|    19|2011-08-28|4008871| 51.81|        Water Sports|        Life Jackets|        Newark|    New Jersey|credit|
+------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+
only showing top 20 rows

In [28]:
tnx_parquet_df=spark.read.load("/content/data_parquet")

In [29]:
tnx_parquet_df.printSchema()

root
 |-- tnx_id: integer (nullable = true)
 |-- tnx_dt: date (nullable = true)
 |-- cid: integer (nullable = true)
 |-- amount: decimal(10,2) (nullable = true)
 |-- prod_cat: string (nullable = true)
 |-- prod: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)

In [30]:
tnx_parquet_df.show(2)

+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|tnx_id|    tnx_dt|    cid|amount|          prod_cat|                prod|       city|     state|  mode|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|     0|2011-06-26|4007024| 40.33|Exercise & Fitness|Cardio Machine Ac...|Clarksville| Tennessee|credit|
|     1|2011-05-26|4006742|198.44|Exercise & Fitness|Weightlifting Gloves| Long Beach|California|credit|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
only showing top 2 rows

for reading json rows are not propely read,schema is also not propery read

```
# This is formatted as code
```

In [31]:
json_format_read=spark.read.format("json").option("header",True).option("inferSchema",True).load("/content/data_json")

In [32]:
json_format_read.printSchema()

root
 |-- amount: double (nullable = true)
 |-- cid: long (nullable = true)
 |-- city: string (nullable = true)
 |-- mode: string (nullable = true)
 |-- prod: string (nullable = true)
 |-- prod_cat: string (nullable = true)
 |-- state: string (nullable = true)
 |-- tnx_dt: string (nullable = true)
 |-- tnx_id: long (nullable = true)

In [34]:
json_format_read.show()

+------+-------+--------------+------+--------------------+--------------------+--------------+----------+------+
|amount|    cid|          city|  mode|                prod|            prod_cat|         state|    tnx_dt|tnx_id|
+------+-------+--------------+------+--------------------+--------------------+--------------+----------+------+
| 40.33|4007024|   Clarksville|credit|Cardio Machine Ac...|  Exercise & Fitness|     Tennessee|2011-06-26|     0|
|198.44|4006742|    Long Beach|credit|Weightlifting Gloves|  Exercise & Fitness|    California|2011-05-26|     1|
|  5.58|4009775|       Anaheim|credit|Weightlifting Mac...|  Exercise & Fitness|    California|2011-06-01|     2|
|198.19|4002199|     Milwaukee|credit|    Gymnastics Rings|          Gymnastics|     Wisconsin|2011-06-05|     3|
| 98.81|4002613|   Nashville  |credit|        Field Hockey|         Team Sports|     Tennessee|2011-12-17|     4|
|193.63|4007591|       Chicago|credit|Camping & Backpac...|  Outdoor Recreation|      Illinois|2011-02-14|     5|
| 27.89|4002190|    Charleston|credit|      Jigsaw Puzzles|             Puzzles|South Carolina|2011-10-28|     6|
| 96.01|4002964|      Columbus|credit|           Sandboxes|Outdoor Play Equi...|          Ohio|2011-07-14|     7|
| 10.44|4007361|    Des Moines|credit|        Snowmobiling|       Winter Sports|          Iowa|2011-01-17|     8|
|152.46|4004798|St. Petersburg|credit|      Bungee Jumping|             Jumping|       Florida|2011-05-17|     9|
|180.28|4004646|          Reno|credit|             Archery|  Outdoor Recreation|        Nevada|2011-05-29|    10|
|121.39|4008071|      Columbus|credit|          Swing Sets|Outdoor Play Equi...|          Ohio|2011-06-18|    11|
| 41.52|4002473| San Francisco|credit|             Bowling|        Indoor Games|    California|2011-02-08|    12|
| 107.8|4003268|    Honolulu  |credit|        Field Hockey|         Team Sports|        Hawaii|2011-03-13|    13|
| 36.81|4004613|   Los Angeles|credit|     Vaulting Horses|          Gymnastics|    California|2011-02-25|    14|
|137.64|4003179|    Honolulu  |credit|             Fencing|       Combat Sports|        Hawaii|2011-10-20|    15|
| 35.56|4009135|      Columbia|credit|    Free Weight Bars|  Exercise & Fitness|South Carolina|2011-05-28|    16|
| 75.55|4006679|         Omaha|credit|Scuba Diving & Sn...|        Water Sports|      Nebraska|2011-10-18|    17|
| 88.65|4002444|Salt Lake City|credit|            Baseball|         Team Sports|          Utah|2011-11-18|    18|
| 51.81|4008871|        Newark|credit|        Life Jackets|        Water Sports|    New Jersey|2011-08-28|    19|
+------+-------+--------------+------+--------------------+--------------------+--------------+----------+------+
only showing top 20 rows