In [11]:
import os

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [5]:
!pip install pyspark==3.1.1

Requirement already satisfied: pyspark==3.1.1 in /usr/local/lib/python3.10/dist-packages (3.1.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.10/dist-packages (from pyspark==3.1.1) (0.10.9)

In [6]:
import pyspark

In [7]:
from pyspark.sql import SparkSession

In [8]:
from pyspark import SparkConf

In [74]:
from pyspark.sql.types import StructType,StructField,StringType

In [10]:
if __name__=="__main__":
  spark = SparkSession.builder \
      .appName("myapplication") \
      .master("local[*]") \
      .getOrCreate()

In [18]:
df= spark.read.option("header",True).option("inferSchema",True).csv("/content/custs_with_header.csv")

In [19]:
df.printSchema()

root
 |-- cid: integer (nullable = true)
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- desig: string (nullable = true)

In [20]:
df.show()

+-------+--------+----------+---+--------------------+
|    cid|   fname|     lname|age|               desig|
+-------+--------+----------+---+--------------------+
|4000001|Kristina|     Chung| 55|               Pilot|
|4000002|   Paige|      Chen| 74|             Teacher|
|4000003|  Sherri|    Melton| 34|         Firefighter|
|4000004|Gretchen|      Hill| 66|Computer hardware...|
|4000005|   Karen|   Puckett| 74|              Lawyer|
|4000006| Patrick|      Song| 42|        Veterinarian|
|4000007|   Elsie|  Hamilton| 43|               Pilot|
|4000008|   Hazel|    Bender| 63|           Carpenter|
|4000009| Malcolm|    Wagner| 39|              Artist|
|4000010| Dolores|McLaughlin| 60|              Writer|
|4000011| Francis|  McNamara| 47|           Therapist|
|4000012|   Sandy|    Raynor| 26|              Writer|
|4000013|  Marion|      Moon| 41|           Carpenter|
|4000014|    Beth|   Woodard| 65|                null|
|4000015|   Julia|     Desai| 49|            Musician|
|4000016|  Jerome|   Wallace| 52|          Pharmacist|
|4000017|    Neal|  Lawrence| 72|Computer support ...|
|4000018|    Jean|   Griffin| 45|    Childcare worker|
|4000019|Kristine| Dougherty| 63|   Financial analyst|
|4000020| Crystal|    Powers| 67|Engineering techn...|
+-------+--------+----------+---+--------------------+
only showing top 20 rows

In [41]:
df.where("age>40").orderBy("fname","lname","age",ascending=[True,"true",False]).show()

+-------+-----+----------+---+--------------------+
|    cid|fname|     lname|age|               desig|
+-------+-----+----------+---+--------------------+
|4003142|Aaron|   Brandon| 67|Computer support ...|
|4007349|Aaron| Carpenter| 60|Agricultural and ...|
|4002635|Aaron|      King| 73|             Chemist|
|4006579|Aaron|    McLamb| 70|               Coach|
|4006352|Aaron|     Moody| 73|Computer software...|
|4007616|Aaron|      Pugh| 68|           Economist|
|4007485|Aaron|   Simmons| 72|           Architect|
|4001988|Aaron|     Woods| 58|           Librarian|
|4008470| Adam|  Atkinson| 53|Environmental sci...|
|4001512| Adam|     Brown| 41|              Writer|
|4007466| Adam|     Bynum| 73|               Coach|
|4006015| Adam|      Camp| 71|           Architect|
|4006010| Adam|     Hardy| 72|Recreation and fi...|
|4007534| Adam|      Link| 64|Computer software...|
|4005215| Adam|        Lu| 74|           Architect|
|4005992| Adam|   Mathews| 50|      Police officer|
|4004456| Adam|      Mayo| 51|       Social worker|
|4005149| Adam|  O'Connor| 58|        Veterinarian|
|4006941| Adam|   Rodgers| 72|         Firefighter|
|4000272| Adam|Washington| 54| Electrical engineer|
+-------+-----+----------+---+--------------------+
only showing top 20 rows

In [44]:
df.where("fname like 'S%'").show()

+-------+---------+-------+---+--------------------+
|    cid|    fname|  lname|age|               desig|
+-------+---------+-------+---+--------------------+
|4000003|   Sherri| Melton| 34|         Firefighter|
|4000012|    Sandy| Raynor| 26|              Writer|
|4000030|Stephanie|Hawkins| 50|Human resources a...|
|4000035|  Shelley|  Weeks| 25|            Reporter|
|4000052|  Shirley|Merritt| 21|            Reporter|
|4000058|    Scott|  Hoyle| 40|              Doctor|
|4000077| Samantha| Hardin| 27|              Doctor|
|4000078|     Sara|  Lucas| 44|        Loan officer|
|4000079|    Stacy|  Eason| 31|            Musician|
|4000087|    Steve| Graves| 73|               Nurse|
|4000089|   Sherri| Sutton| 75|       Social worker|
|4000092|    Stacy|  Olsen| 25|        Veterinarian|
|4000101|    Scott| Golden| 27|             Teacher|
|4000108|    Shawn| Boykin| 34|        Photographer|
|4000120|     Sara|Perkins| 67|               Actor|
|4000133| Samantha|  Floyd| 72|    Childcare worker|
|4000140|   Sidney|   Lane| 54|        Statistician|
|4000142|   Sandra| Heller| 51|        Photographer|
|4000171|  Stephen|  Finch| 30|               Coach|
|4000184|    Sarah|    Fox| 73|        Psychologist|
+-------+---------+-------+---+--------------------+
only showing top 20 rows

In [48]:
df.where("desig in ('Teacher','Pilot','Lawyer')").orderBy("fname").show()

+-------+---------+----------+---+-------+
|    cid|    fname|     lname|age|  desig|
+-------+---------+----------+---+-------+
|4000423|     Alan|    O'Neal| 59|  Pilot|
|4006775|Alexander|     Britt| 52|  Pilot|
|4001826|Alexander|    Forbes| 71|Teacher|
|4001345|Alexandra|    Warren| 66| Lawyer|
|4001611|   Alfred|      Chen| 71| Lawyer|
|4007706|   Alfred|     Reddy| 42|Teacher|
|4000271|    Alice|     Nance| 59|  Pilot|
|4009950|    Alice|    Norton| 38|  Pilot|
|4005896|   Alicia|   Higgins| 65| Lawyer|
|4001299|   Alison|    Patton| 40|Teacher|
|4000601|    Allan|    Nguyen| 51|  Pilot|
|4001923|      Amy|    Pappas| 42|  Pilot|
|4007136|      Amy|      Reid| 55|Teacher|
|4005014|   Andrea|     Combs| 65|Teacher|
|4003332|   Andrew|McAllister| 22|Teacher|
|4008940|   Angela|     Hwang| 71| Lawyer|
|4004631|     Anna|    Gunter| 30|  Pilot|
|4006073|     Anna| Whitfield| 59|  Pilot|
|4003603|     Anna|   Pollard| 38| Lawyer|
|4004184|     Anne|     Price| 32|  Pilot|
+-------+---------+----------+---+-------+
only showing top 20 rows

In [51]:
df.where("age>50 and desig='Pilot'").show()

+-------+----------+--------+---+-----+
|    cid|     fname|   lname|age|desig|
+-------+----------+--------+---+-----+
|4000001|  Kristina|   Chung| 55|Pilot|
|4000229|      Faye|  Norman| 64|Pilot|
|4000251|    Jeremy|   House| 61|Pilot|
|4000271|     Alice|   Nance| 59|Pilot|
|4000336|    Steven| Ballard| 62|Pilot|
|4000392|      Emma|   Olson| 74|Pilot|
|4000403|       Leo|Lassiter| 65|Pilot|
|4000423|      Alan|  O'Neal| 59|Pilot|
|4000562|    Jordan|   Wrenn| 61|Pilot|
|4000601|     Allan|  Nguyen| 51|Pilot|
|4000893|      Gene|    Love| 59|Pilot|
|4000912|     Maria|  Reilly| 64|Pilot|
|4000958|     Danny|  Bowers| 72|Pilot|
|4001039|   Dorothy|   Stone| 52|Pilot|
|4001092|Jacqueline|Friedman| 55|Pilot|
|4001250|  Nicholas| Leonard| 55|Pilot|
|4001424|     Jesse|   Eaton| 58|Pilot|
|4001428|   Deborah|   Britt| 64|Pilot|
|4001489|   Gregory|Saunders| 63|Pilot|
|4001494|     Jesse|  Peters| 56|Pilot|
+-------+----------+--------+---+-----+
only showing top 20 rows

In [52]:
df.where("age between 40 and 50").show()

+-------+---------+---------+---+--------------------+
|    cid|    fname|    lname|age|               desig|
+-------+---------+---------+---+--------------------+
|4000006|  Patrick|     Song| 42|        Veterinarian|
|4000007|    Elsie| Hamilton| 43|               Pilot|
|4000011|  Francis| McNamara| 47|           Therapist|
|4000013|   Marion|     Moon| 41|           Carpenter|
|4000015|    Julia|    Desai| 49|            Musician|
|4000018|     Jean|  Griffin| 45|    Childcare worker|
|4000023|   Wesley|   Teague| 42|           Carpenter|
|4000025|   Claire|Gallagher| 42|            Musician|
|4000028|   Dwight|   Monroe| 45|           Economist|
|4000029|    Wayne| Connolly| 40|   Real estate agent|
|4000030|Stephanie|  Hawkins| 50|Human resources a...|
|4000042|Katherine|   Bender| 44|           Physicist|
|4000045|     Lois|   Joseph| 44|            Musician|
|4000047|Christina|   Bowden| 47|Computer software...|
|4000058|    Scott|    Hoyle| 40|              Doctor|
|4000059|      Pat|    Allen| 45|           Secretary|
|4000060| Michelle|     Rich| 44|              Artist|
|4000069|  Melanie|   Hewitt| 47|   Real estate agent|
|4000072| Caroline|  O'Brien| 44|Computer support ...|
|4000078|     Sara|    Lucas| 44|        Loan officer|
+-------+---------+---------+---+--------------------+
only showing top 20 rows

In [59]:
count_emp=df.select("desig").groupby("desig").count().show()

+--------------------+-----+
|               desig|count|
+--------------------+-----+
|      Police officer|  209|
|Human resources a...|  212|
|Agricultural and ...|  195|
|               Nurse|  191|
|            Musician|  204|
|Computer support ...|  222|
|             Athlete|  196|
|           Carpenter|  180|
|              Lawyer|  201|
|             Teacher|  189|
|                null|   83|
|Recreation and fi...|  210|
|            Designer|  204|
|               Coach|  199|
|         Electrician|  194|
|   Financial analyst|  198|
|Computer hardware...|  204|
|        Statistician|  196|
|              Writer|   95|
|             Chemist|  206|
+--------------------+-----+
only showing top 20 rows

In [76]:
from pyspark.sql.functions import col

In [77]:
df_top_10=df.select("desig").groupby("desig").count().alias("count_of_emp")

In [79]:
result=df_top_10.orderBy(col('count'),ascending=False)

In [80]:
result.show()

+--------------------+-----+
|               desig|count|
+--------------------+-----+
|          Politician|  227|
|Computer support ...|  222|
|        Photographer|  222|
|        Loan officer|  221|
|           Librarian|  218|
|         Firefighter|  217|
|Computer software...|  216|
|          Pharmacist|  213|
|Human resources a...|  212|
|       Social worker|  212|
|Recreation and fi...|  210|
|               Pilot|  209|
|      Police officer|  209|
|        Veterinarian|  208|
|    Childcare worker|  207|
|             Chemist|  206|
|Computer hardware...|  204|
|            Designer|  204|
|Engineering techn...|  204|
|            Musician|  204|
+--------------------+-----+
only showing top 20 rows